<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MidtermProject.Properties.Settings.midtermProjectDataConnectionString"
            connectionString="Data Source=DESKTOP-QNGM232\SQLEXPRESS;Initial Catalog=midtermProjectData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MidtermProject.Properties.Settings.WilsonSportingGoodsConnectionString"
            connectionString="Data Source=DESKTOP-QNGM232\SQLEXPRESS;Initial Catalog=WilsonSportingGoods;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>